content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 22px;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px grey;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

body {
    background-color: #e6f2f2;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

h2 {
    margin: 0;
}

.home-title {
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hero {

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;


}

.icon {
    padding-top: 10px;
    width: 80px;
}

#hero-msg h1 {
    text-align: center;
    color: white;
}

#hero-msg h2 {
    text-align: center;
    color: white;
}

#hero-msg h4 {
    color: white;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    background-color: grey;
    height: 725px;

}

header {
    background-color: #6d3d14;
    color: #18bbca;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #18bbca;
    text-decoration: none;
}

nav a:hover {
    background-color: #18bbca;
    color: #6d3d14;
}

.book,
.join {
    background-color: #247b7b;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: black;
    color: #247b7b;
}

.join:hover {

    background-color: #18bbca;
    color: #6d3d14;
}


.msg {
    background-color: #247b7b;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #247b7b;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    background-color: #6d3d14;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color: #18bbca;
    color: #6d3d14;
}

.logo {
    width: 80px;
}


footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}

.card-img,
.mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px grey;
}

.msg {
    grid-column: 6/10;
    padding: 35px;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px grey;
}

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    #hero-msg h1 {
        color: #6f7364;
    }

    .home-title {
        font-size: 25px;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}