* {
    margin: 0;
}

body {
    background: rgb(120, 96, 64);
}

#jFeeds {
    object-fit: cover;
    object-position: top;
    width: 100%;
    aspect-ratio: 7/3;
}

#formContainer {
    margin: 50px 200px 50px 200px;
    background-size: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: darkblue;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
}

#pic {
    background-image: url("images/jesus_feeds_5000.jpeg");
    background-size: cover;
    width: 100%;
    aspect-ratio: 7/3;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

#closeBtn {
    grid-row: 1, 2;
    font-size: 20px;
    margin: 15px;
    width: 30px;
    height: 30px;
}

h1,
h2 {
    color: white;
    text-shadow: 2px 2px 1px black;
    text-align: center;

}

h1 {
    font-size: 50px;
    grid-row: 2, 3;
}

h2 {
    font-size: 40px;
    grid-row: 3, 4;
    font-weight: 100;
    margin-bottom: 5%;
}

h3 {
    text-align: center;
    margin: 20px;
}

#myForm {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

#sub {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

#tnd {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

#submit {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

#standardWorks {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;

}

.scripture {
    width: 100%;
    justify-self: center;
}