body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat;
  /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png');
  /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
  border-radius: 50px;
}

table.table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #001F3F;
  background-color: #D3D3D3;
  width: 100%;
  height: 200%;
  text-align: left;
  border-collapse: collapse;

}


table.table td,
table.table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

table.table tbody td {
  font-size: 13px;
  color: #333333;
}

table.table thead {
  background: #001F3F;
  border-bottom: 0px solid #444444;
}

table.table thead th {
  font-size: 19px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  border-left: 0px solid #D3D3D3;
}

table.table thead th:first-child {
  border-left: none;
}

table.table tfoot td {
  font-size: 12px;
}

table.table tfoot .links {
  text-align: right;
}

table.table tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #001F3F;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 50px;
  max-width: 900px;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
}

label {
  margin: 10px;
}

#subt {
  width: 100px;
  margin: 10px;
  align-self: center;
}