body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0094C6;
}

#client {
    margin: 5%
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.web-icon {
    width: 150px;
    border-radius: 15px;
    border-color: #040F16;
    border-style: inset;
    border-width: 5px;
    margin: 1%;
}

.navimg {
    width: 200px;
    border-radius: 15px;
    border-color: #040F16;
    border-style: inset;
    border-width: 5px;
    background-color: #0094C6;
}

.navimg:hover {
    width: 210px;
}

.nava,
.navli {
    margin-bottom: 40px;
    color: #040F16;
    font-size: 20px;
    text-decoration: none;
}

.navli {
    width: 200px;
}

.nava:visited,
.navli:visited {
    text-decoration: none;
    color: #103040;
}

.nava:hover,
.navli:hover {
    color: #F0F6F6;
    font-size: 25px;
}

h1 {
    font-family: monospace;
    margin-left: 15%;
    font-size: 100px;
    color: #040F16;
}

nav {
    background-color: #005E7C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
    flex-wrap: wrap;

}

h3 {
    display: flex;
    justify-self: center;
    font-size: 40px;
}

p {
    display: flex;
    justify-self: center;
    font-size: 20px;
    text-wrap: wrap;
}

.collapsible {
    background-color: #0094C6;
    cursor: pointer;
}

.active,
.collapsible:hover {
    background-color: #004763;
}

.content {
    overflow: hidden;
    width: 250px;
}

.report p {
    font-size: 20px;
    margin-bottom: 100px;
    color: #420042;
}

.report li {
    font-size: 20px;
    color: #F0F6F6;
}

.report a {
    display: inline-block;
    font-size: 25px;
    color: #0094C6;
    background-color: #103040;
    border: #040F16 solid 4px;
    border-radius: 10px;
    padding: 7px;
}

.report a:hover {
    color: #F0F6F6;

}

.report {
    margin-bottom: 200px;
    border: solid #420042 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #005E7C;
}